*.pdb
*.exe
*.dll
*.DotSettings
*.user

UnitTests/bin/
UnitTests/obj/
UnitTests/packages/

Bigio/bin/
Bigio/obj/
Bigio/packages/

PerformanceTests/bin/
PerformanceTests/obj/
PerformanceTests/packages/

/packages/

!/bin/Bigio.dll